@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
    font-family: "Jost", sans-serif;
}

.logo,
.sidebar-title,
.header-title,
.font-cursive {
    font-family: "Pacifico", cursive;
}

.header-image {
    background-image: url("./assets/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.active {
    @apply text-[#F2A64D];
}
