@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  font-family: "Jost", sans-serif;
}

.container {
  @apply !mx-auto !max-w-[1200px] md:!px-5;
}

.logo,
.sidebar-title,
.header-title,
.font-cursive {
  font-family: "Pacifico", cursive;
}

.header-image {
  background-image: url("./assets/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.active {
  @apply text-primary;
}

/* Swal Container */
.swal2-container .swal2-popup {
  border-radius: 20px !important;
}

/* Swal Button */
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  border-radius: 10px !important;
}
